<div class="admin-form">
  <%= form_with(model: [:admin, @category], local: true) do |form| %>
    <% if @category.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@category.errors.count, "ошибка") %> при сохранении:</h4>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, "Название категории" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Введите название категории" %>
    </div>

    <div class="form-actions">
      <%= form.submit "Сохранить", class: "btn btn-primary" %>
      <%= link_to "Отмена", admin_categories_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
